<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdn.jsdelivr.net/npm/hydra-synth/dist/hydra-synth.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/images/favicons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/favicons/favicon-16x16.png"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/spacelab/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="/css/hydra.css"
    />
    <link
      rel="stylesheet"
      href="/css/main.css"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="/"><strong>Myra's EJS Site</strong></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <% navLinks.forEach(function(link) { %>
              <li class="nav-item">
                <a class="nav-link" href="<%= link.url %>"><%= link.name %></a>
              </li>
            <% }) %>
          </ul>
        </div>
      </div>
    </nav>
  </body>
</html>
<main class="container mt-4 content-on-top">
  <div id="body-container">
    <main class="container mt-4">