body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#body-container {
    background: #000000a9;
    padding: 1em;
    overflow: auto;
    display: flex;
    align-items: flex-start;
    gap: 2em;
    margin-top: 2em;
}
h2 {
    color: white;
    margin-bottom: 1em;
}
p {
    margin: 1em;
}
a.nav-link, a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
a:hover {
    text-decoration: none;
    color: #7700ff
}
.navbar {
    background:linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(188, 196, 199, 1) 20%, rgba(255, 255, 255, 1) 35%, rgba(183, 246, 132, 1) 50%, rgba(255, 255, 255, 1) 65%, rgba(188, 196, 199, 1) 80%, rgba(0, 0, 0, 1) 100%);
}
.list-group-item {
  color: #111 !important;
  text-shadow: none !important;
}