<%- include('../partials/header.ejs') %>
  <h2><%=title%></h2>
  <p>
    Hey, I’m Myra — I like building cool stuff with code, exploring weird audio,
    and diving deep into video games. I’m currently studying and working on
    projects that mix programming, security, and creativity. Right now, I’m
    interning in application security at Reddit, but I also love experimenting
    with all sorts of random things.
  </p>
  <p>
    When I’m not writing code or breaking things on purpose, I’m probably
    listening to a variety of music, messing with Raspberry Pis, or trying to
    figure out how to get my website to reflect my brain. If you’re into game
    dev, DIY audio setups, or cool digital spaces, we’ll probably get along.
  </p>
  <p>
    Outside of code, I love capturing moments through photography. There’s
    something about framing light and color in just the right way that scratches
    the same itch as solving a tricky bug. I shoot mostly digital, but I love
    editing and experimenting — sometimes turning everyday scenes into something
    dreamy or strange.
  </p>
  <p>
    I’m also a huge car nerd. Whether it’s cruising through detailed specs,
    watching track videos, or going for a drive just to hear the engine sing, I
    find cars to be a perfect mix of engineering and personality. There's a lot
    of overlap with my tech brain — I love understanding how things work, and
    then pushing them just a little further.
  </p>
<script src="https://cdn.jsdelivr.net/npm/hydra-synth/dist/hydra-synth.js"></script>
<script src="/hydra/main.js"></script>
<script src="/hydra/wall.js"></script>
<%- include('../partials/footer.ejs') %>
